{% extends 'base.html.twig' %}

{% block title %}Course index{% endblock %}

{% block body %}

    <h1>Курсы</h1>

    <div id="courses">
        {% for course in courses %}
            <div>
                <a href="{{ path('course_show', {'id': course.id}) }}">{{ course.name }}</a>
                <div>{{ course.description }}</div>
                <hr>
            </div>
        {% else %}
            <div>Курсов не найдено</div>
        {% endfor %}
    </div>
    <br>
    <a class="btn btn-primary" href="{{ path('course_new') }}">Создать новый</a>
{% endblock %}
