{% extends 'base.html.twig' %}

{% block title %}Новый курс{% endblock %}

{% block body %}
    <h1>Создать новый курс</h1>

    {{ include('course/_form.html.twig') }}
    <hr>
    <a class="btn btn-outline-secondary" href="{{ path('course_index') }}">К списку курсов</a>
{% endblock %}
