{% extends 'base.html.twig' %}

{% block title %}Новый урок{% endblock %}

{% block body %}
    <h1>Создать новый урок</h1>

    {{ include('lesson/_form.html.twig') }}

    <hr>

    <a class="btn btn-outline-secondary" href="{{ path('course_show', {'id': form.course.vars.value}) }}">Назад к курсу</a>
{% endblock %}
