{% extends 'base.html.twig' %}

{% block body %}
    <h1>Страница не найдена</h1>

    <p>
        Запрошенная страница не может быть найдена. Проверьте URL
        на правильность или <a href="{{ path('course_index') }}">вернитесь на главную страницу</a>.
    </p>
{% endblock %}